<ul>
    <li>
        <%= link_to "Coins", coins_path %>
    </li>
    <li>
        <%= link_to "Github", "https://github.com/patrickpff", target: "__blank" %>
    </li>
    <li>
        <%= link_to "LinkedIn", "https://www.linkedin.com/in/parickpff", target: "__blank" %>
    </li>
</ul>