<div id="<%= dom_id mining_type %>">
  <div>
    <strong>Description:</strong>
    <%= mining_type.description %>
  </div>

  <div>
    <strong>Acronym:</strong>
    <%= mining_type.acronym %>
  </div>

</div>
