:root {
    --primary-color: #4CAF50;
    --secondary-color: #ff9800;
    --background-color: #f5f5f5;
    --color: #333333;
    --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background-color: var(--background-color);
    font-family: var(--font-family);
    color: var(--color);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--primary-color); 
    font-weight: bold;
}