<div id="<%= dom_id coin %>">
  <div>
    <strong>Description:</strong>
    <%= coin.description %>
  </div>

  <div>
    <strong>Acronym:</strong>
    <%= coin.acronym %>
  </div>

  <div>
    <strong>Image:</strong>
    <%= image_tag coin.url_image %>
  </div>

</div>
