<% content_for :title, "New coin" %>

<div class="coins-new" data-controller="coins-new">
  <h1>New coin</h1>

  <%= render "form", coin: @coin %>

  <br>

  <div>
    <%= link_to "Back to coins", coins_path %>
  </div>
</div>